<!DOCTYPE html>
<html lang="ru" ng-app="libraryApp">
<head>
	<title>Library V 1.0.1</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
</head>
<body>
	<header page-header></header>
	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Blog Post Content Column -->
			<div class="col-lg-9">
				<div class="row">
					<div id="content" ng-controller="booksList">
						<ng-view></ng-view>
					</div>
				</div>
			</div>

			<!-- Blog Sidebar Widgets Column -->
			<div class="col-md-3" page-aside></div>

		</div>
		<!-- /.row -->
	</div>
	<hr>
	<footer page-footer></footer>
	<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title" id="modal-title">Order book {{title}}</h3>
		</div>
		<div class="modal-body" id="modal-body">
			<p>Fill in shipping address input</p>
			<input type="text" class="form-control" style="width:100%;" ng-model="data.shipAdress" placeholder="shipping address...">
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
			<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
		</div>
	</script>
	<script src="assets/js/build.js"></script>
</body>
</html>

