<div class="row">
	<div class="col-md-4"><img class="img-responsive" ng-src="{{book.image}}" alt="{{book.title}}"></div>
	<div class="col-md-8">
		<h1>{{book.title}}</h1>
		<hr>
		<p><strong>Author:</strong> {{book.author}}</p>
		<p><strong>Price:</strong> {{book.price}}</p>
		<p><strong>Pages count:</strong> {{book.pageCount}}</p>
		<p><strong>Available:</strong> <span ng-class="{'text-success': book.isAvailable, 'text-danger': !book.isAvailable}">{{book.isAvailable}}</span></p>
		<p><strong>Average rating:</strong> {{allRating}}</p>
		<p><strong>Ordered:</strong> <span>{{book.ordered.length}}</span></p>
		<p><button class="btn btn-primary btn-lg btn-success" ng-click="order()">Order book</button></p>
		<div ng-bind-html="ServerResponse"></div>
		<!--<div>{{shipAdress}}</div>-->
	</div>
</div>
<hr>
<p>{{book.description}}</p>
<hr>
<reviews></reviews>